@tailwind base;
@tailwind components;
@tailwind utilities;





:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: "Matiz";
  src: url("/Matiz.ttf")format("truetype"),
}

body {
  @apply relative;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  min-height: 100svh;
  color: white;
  background: #231f20;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .wrap {
    @apply w-full px-5 lg:px-8 xl:px-10 mx-auto;
    max-width: 1700px;
  }
}

img {
  max-width: unset;
}

.section {
  @apply bg-pale-gray relative w-full max-lg:pt-24 py-10 lg:py-14 xl:py-20;

  background: #f0ece4 url("../assets/vintage-texture.png");
}

.gradient {
  background: linear-gradient(180deg, #000000 33%, #F68F27 100%);
}

.frame {
  background: linear-gradient(90deg, #ff5143 0%, #a232ff 100%);
  position: relative;
}

.heading {

  @apply font-back uppercase text-black leading-none;
  font-size: clamp(18px, 5vw, 80px);

}

.promo-btn {
  @apply bg-pale-gray font-matiz uppercase flex items-center gap-2 text-black text-sm lg:text-lg leading-none relative max-xl:mt-5 px-5 py-2 lg:px-8 lg:py-5;


  transition: all 0.4s;
}

@media (min-width:1024px) {
  .button-lines {
    @apply relative;
  }

  .button-lines::after,
  .button-lines::before {
    z-index: 2;
    content: '';
    @apply absolute top-1/2 bg-primary/90 h-px;
    width: clamp(40px, 15vw, 240px);
  }

  .button-lines::after {
    left: calc(100% + clamp(10px, 4vw, 40px));
    transform: translate(0, -50%);
  }

  .button-lines::before {
    right: calc(100% + clamp(10px, 4vw, 40px));
    transform: translate(0, -50%);
  }
}

.promo-btn span,
.promo-btn svg {
  transition: all 0.1s;
}

.promo-btn:hover {
  background: black;
  color: white;
}


.win-2-tickets::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: #231f20;
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  z-index: 0;
}

.submit {
  color: rgba(0, 0, 0, 0);
  background: linear-gradient(90deg, #ff5143 0%, #a232ff 0%, #fff 0%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-size: 200% auto;
}

.submit:hover {
  color: rgba(0, 0, 0, 0);
  background: linear-gradient(90deg, #ff5143 0%, #a232ff 100%, #fff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 2s ease-in-out infinite alternate;
}

@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}